<header class="mb-5">
	{%- if page.layout == 'home' -%}
		<h2>{{ site.title }}</h2>
		{%- if site.description -%}
			<div class="subheading mb-3">{{ site.description }}</div>
		{%- endif -%}
	{%- else -%}
		{% include breadcrumbs.html %}
		{% assign page_name = page.url | remove_first: "/" | split: "/" | first -%}
		<h2>{{ page.title | default: site.data.locals[site.lang].navbar[page_name] }}</h2>
		{% if page.description -%}
			<div class="subheading mb-3">{{ page.description }}</div>
		{% endif -%}
		{% if page.date -%}
			<!-- author, updated of the post -->
			<p class="mb-1">
				<strong>
					<i class="fa fa-user text-primary" aria-hidden="true"></i> {{ site.data.locals[site.lang].page.author }}: 
				</strong>
				<span>{{ page.author | default: site.author }}</span>
			</p>
			<p>
				<strong>
					<i class="fa-solid fa-calendar-days text-success" aria-hidden="true"></i> {{ site.data.locals[site.lang].page.updated }}: 
				</strong>
				<time>{{ page.date | date_to_string | date: site.date_time_format }}</time>
			</p>
		{% endif -%}
	{%- endif -%}
</header>