<nav class="pagination d-flex justify-content-between">
	{%- assign paginate_class = 'btn btn-primary' -%}
	{% if page.previous.url -%}
		<a href="{{ page.previous.url | relative_url | replace: '//', '/' }}" class="{{ paginate_class }}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ page.previous.title }}" aria-description="{{ page.previous.title }}">
			<i aria-hidden="true">&larr;</i> {{ site.data.navigation.page.prev_post | default: "Previous" }}
		</a>
	{% else -%}
		<span class="{{ paginate_class }} disabled">
			<i aria-hidden="true">&larr;</i> {{ site.data.navigation.page.prev_post | default: "Previous" }}
		</span>
	{% endif -%}
	{% if page.next.url -%}
		<a href="{{ page.next.url | relative_url | replace: '//', '/' }}" class="{{ paginate_class }}" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ page.next.title }}" aria-description="{{ page.next.title }}">
			{{ site.data.navigation.page.next_post | default: "Next" }} <i aria-hidden="true">&rarr;</i>
		</a>
	{% else -%}
		<span class="{{ paginate_class }} disabled">
			{{ site.data.navigation.page.next_post | default: "Next" }} <i aria-hidden="true">&rarr;</i>
		</span>
	{% endif -%}
</nav>
<hr>

<div class="page-related-posts">
	<h2 class="h4">{{ site.data.navigation.page.related_posts | default: "Related Posts" }}</h2>
	<ul class="list-group">
	{% for post in site.related_posts limit: 5 -%}
		<li class="list-group-item">
			<div class="d-flex w-100 justify-content-between">
				<a href="{{ post.url | relative_url }}">{{ post.title }}</a>
				<small>
					<i class="fas fa-calendar-days" aria-hidden="true"></i>
					{% include datetime.html date=post.date format=site.date_format %}
				</small>
			</div>
		</li>
	{% endfor %}
	</ul>
</div>
<hr>