<article class="mb-5">
	<h3 id="{{ title }}">{{ title }}</h3>
	{%- assign total = 0 -%}
	{% assign page = 1 -%}
	{% assign count = 1 -%}
	{% for post in posts -%}
		{% if count == 1 -%}
			{% assign total = total | plus: 1 -%}
			<div class="post-group" data-page="{{ page }}">
		{%- endif -%}
		{% include postlist.html post=post %}
		{% if count == site.paginate -%}
			</div>
			{%- assign count = 0 -%}
			{% assign page = page | plus: 1 -%}
		{%- elsif forloop.last -%}
			</div>
		{%- endif -%}
		{% assign count = count | plus: 1 -%}
	{%- endfor -%}
	{% if total > 1 -%}
		<button type="button" class="btn btn-primary btn-more" data-page="2" aria-description="{{ title }}">
			{{ site.data.locals[site.lang].page.more }} <i aria-hidden="true">→</i>
		</button>
	{%- endif -%}
</article>