:root {
	--toc: 15rem;
}

blockquote {
	padding: 0.75rem;
	/* bootstrap .callout-info style copy */
	color: #055160;
	border-left: 0.25rem solid #9eeaf9;
	background-color: #cff4fc;
}
blockquote :last-child {
	margin-bottom: 0;
}

/* 해딩 태그를 대문자로 바꾸는 스타일 제거 */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6,
.subheading {
	text-transform: none;
}

.z-max {
	z-index: 9999;
}

.btn-skip:focus {
	color: var(--bs-primary) !important;
	font-weight: bold;
	border: 2px solid var(--bs-primary) !important;
	background: var(--bs-light) !important;
}

/* 링크의 밑줄 제거 */
/* .breadcrumb .breadcrumb-item a,
.post-group a,
.post-item a,
.toc a,
.social-icons .social-icon { */
a {
	text-decoration: none;
}

/* 코드 영역
┌─ .highlighter-rouge
│  ├─ div.highlight
│  │  ├─ .highlight-tools
│  │  └─ pre.highlight
*/
.highlight {
	margin-bottom: 1rem;
	border-radius: 5px;
}
pre.highlight {
	tab-size: 4;
	padding: 1rem;
	margin: 0;
}
.highlight-tools {
	float: right;
	padding: 0.25rem;
}
/* 목록에 코드가 있는 경우 여백 지정 */
li > .highlighter-rouge {
	margin-top: 1rem;
}
li > .highlighter-rouge:last-child {
	margin-bottom: 0;
}

/* 사이드바 */
#sideNav .navbar-brand span {
	color: var(--bs-navbar-active-color);
}
#sideNav .navbar-brand .img-profile {
	max-width: 6rem;
	max-height: 6rem;
}
/* 카테고리 또는 태그 등의 건너뛰기 링크 */
.nav-skip {
	display: grid;
	grid-gap: 0.5rem;
	grid-template-columns: repeat(2, 1fr);
	padding: 0;
	margin: 1.5em 0;
	list-style: none;
}
.nav-skip li a {
	display: flex;
	justify-content: space-between;
	color: #fff;
}
.nav-skip li a .badge {
	line-height: normal;
}

/* 포스트 목록 */
/* .post-group {
	display: none;
} */
.post-item {
	margin-bottom: 1rem;
}

/* 포스트 상세페이지
┌─ .page-header
├─ .page-content
├─ .page-meta
│  └─ .page-taxonomy
├─ .page-share
└─ .pagination
*/
.page-header, .page-content {
	margin-bottom: 3rem;
}
.page-content > h2:not(:first-child) {
	margin-top: 3rem;
}
.page-content > h3:not(:first-child) {
	margin-top: 2rem;
}
.page-content > h4:not(:first-child) {
	margin-top: 1.5rem;
}
.page-content > h5:not(:first-child) {
	margin-top: 1rem;
}
/* 카테고리, 태그, 공유를 나타내는 제목에 여백 지정 */
.page-meta :first-child,
.page-share :first-child {
	margin-right: 1rem;
}
.page-meta .page-taxonomy {
	margin-bottom: 0.5rem;
}
.page-meta .page-taxonomy a {
	--meta-margin: 0.5rem;
	margin-right: var(--meta-margin);
	margin-bottom: var(--meta-margin);
}
.page-meta .page-taxonomy a:last-child {
	margin-right: 0;
}

/* 큰 화면일 때 적용하는 CSS */
@media (min-width: 992px) {
	/* 포스트 Toc */
	section.resume-section {
		padding-right: var(--toc);
	}
	.toc {
		width: var(--toc);
		margin-right: calc(var(--toc) * -1);
		float: right;
	}
	/* 사이드바 배경이미지 지정 */
	#sideNav {
		/*
		 * 마음에 드는 이미지
		 * https://images.unsplash.com/photo-1490750967868-88aa4486c946?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bmF0dXJlfHx8fHx8MTY5Nzg0OTY4MA&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600
		 * https://images.unsplash.com/photo-1469474968028-56623f02e42e?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bmF0dXJlfHx8fHx8MTY5Nzg0OTIwMQ&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600
		 */
		background-image: url(https://source.unsplash.com/1600x900/?nature);
		background-size: cover;
	}
	#sideNav .navbar-brand,
	#sideNav #navbarResponsive a.nav-link {
		--shadow-color: var(--bs-dark);
		/* -webkit-text-stroke: 1px var(--shadow-color); */
		text-shadow:
			-1px 0px var(--shadow-color),
			0px 1px var(--shadow-color),
			1px 0px var(--shadow-color),
			0px -1px var(--shadow-color);
	}
	/* 건너뛰기 링크 */
	.nav-skip {
		grid-template-columns: repeat(3, 1fr);
	}
}