---
layout: default
---

{{ content }}

<article class="page-content">
	<h2>{{ site.data.navigation.names.posts }}</h2>
	<p>{{ site.data.navigation.page.total_posts }}: <strong class="text-primary">{{ site.posts | size | default: '0' }}</strong></p>
	{% for post in site.posts limit: 5 -%}
		{% include postlist.html post=post %}
	{% endfor -%}
	<a href="{{ site.paginate_path | replace_first: '/', '' | split: '/' | first | prepend: '/' | relative_url }}/" class="btn btn-primary">
		{{ site.data.navigation.page.more }} <i aria-hidden="true">&rarr;</i>
	</a>
</article>